<h1>LOGIN</h1>

<% if Rails.env=="development" %>
student_id: <%= session[:student_id] %><br/>
previous_url: <%= session[:previous_url] %>
<% end %>

<p id='notice'>Please Login.<p>

<div class="login">
    <% if flash[:alert] %>
        <p id ="notice"><%= flash[:alert] %></p>
    <% end %>

    <%= form_tag do %>
        <table>
          <tr>
            <th><%= label_tag :sid, "学生番号" %></th>
            <td><%= text_field_tag :sid, params[:sid] %></td>
          </tr>
          <tr>
            <th><%= label_tag :password, "パスワード" %></th>
            <td><%= password_field_tag :password, params[:password] %></td>
          </tr>
        </table>
        <div>
            <%= submit_tag "login" %>
        </div>
    <% end %>
</div>

<%= render 'navi' %>
