<h1>コンパイル済みバイナリの転送</h1>

<!--
<% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
<% end %>
-->

<% if session[:student_id] %>
<p>コンパイルして得られた Debug/*.bin を選び、送信してください。</p>

<fieldset id="upload">
<legend>グループIDは自動計算します。</legend>
<%= form_tag({action: 'upload'}, {multipart: true}) do %>
<%= file_field :bin, :name %>
<%= submit_tag "送信" %>
<% end %>
</fieldset>
<% else %>
<p>ログインしないとバイナリ転送できません。</p>

<p><%= link_to "login", "/login" %></p>

<% end %>

<%= render 'navi' %>

