<h1>Listing icomes</h1>

<%= render 'navi' %>

<table>
  <tr>
    <th>Sid</th>
    <th>Attend at</th>
    <th></th>
    <th></th>
  </tr>

<% @icomes.each do |icome| %>
  <tr>
    <td><%= icome.sid %></td>
    <td><%= icome.attend_at %></td>
    <td><%= link_to 'Edit', edit_icome_path(icome) %></td>
    <td><%= link_to 'Destroy', icome, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= render 'navi' %>
