<p id="notice"><%= notice %></p>

<p>
  <b>Sid:</b>
  <%= @icome.sid %>
</p>

<p>
  <b>Attend at:</b>
  <%= @icome.attend_at %>
</p>


<%= link_to 'Edit', edit_icome_path(@icome) %> |
<%= link_to 'Back', icomes_path %>
