<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'グループ名(今期クラスでユニークなもの)' %><br />
    <%= f.text_field :name, size: 60 %>
  </div>

  <div class="field">
    <%= f.label 'メンバー (学生番号(半角数字)を半角スペースで区切って)' %><br />
    <%= f.text_field :members, size: 60 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
