<h1>グループ一覧</h1>

<% if Rails.env=="development" %>
session[:admin]: <%= session[:admin] %><br/>
student_id: [<%= session[:student_id] %>]<br/>
previous_url: <%= session[:previous_url] %>
<% end %>

<% if flash[:alert] %>
<p id='notice'><%= flash[:alert] %></p>
<% end %>


<%= render 'navi' %>

<table>
  <tr>
    <th>グループ #</th>
    <th>ロボカー#</th>
    <th>グループ名</th>
    <th>メンバー</th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.id %></td>
    <td><%= group.car_id %></td>
    <td><%= group.name %></td>
    <td><%= group.members %></td>

    <td><%= link_to image_tag('/images/edit.png'), edit_group_path(group) %></td>
    <td><%= link_to image_tag('/images/trash.png'), group, confirm: 'Are you sure?', method: :delete %></td>

  </tr>
<% end %>
</table>

<br />

<%= render 'navi' %>
