<h1>ロボカー貸し出し</h1>

<% if Rails.env == "development" %>
session[:admin] <%= session[:admin] %><br/>
request.env['HTTP_USER_AGENT']: <%= request.env['HTTP_USER_AGENT'] %>
@today: <%= @today %>
<% end %>

<% if flash[:notice] %>
<p id='notice'><%= flash[:notice]%></p>
<% end %>

<p>貸し出し回数を勤勉の証としてプラス評価することもある。
  <span class="red">返却の遅れ</span>はマイナス評価が当たり前。
</p>

<%= render 'navi' %>

<table id='lent'>
  <tr>
    <th style='width:1em'>#</th>
    <th style='width:2em'>状況</th>
    <th>貸出日</th>
    <th>返却予定</th>
    <th>返却日</th>
    <% if session[:admin] %>
    <th>学生番号</th>
    <% end %>
    <th>備考</th>
    <% if session[:admin] %>
    <th>連絡先</th>
    <th>返却</th>
    <th>編</th>
    <!-- confirm できない
    <th>削</th>
-->
    <% end %>
  </tr>

  <% @lents.each do |lent| %>
  <!--
  <%# next if lent.sid =~ /hkimura/ %>
  -->
  <% puts "today: #{@today}" %>
  <% puts lent.willback_on %>
  <% if lent.condition==Lent::Conditions[Lent] and
     @today > lent.willback_on %>
  <tr class='delay'>
  <% else %>
  <tr>
  <% end %>
    <td style='text-align:right'><%= lent.car_id %></td>
    <td><%= Lent::Conditions[lent.condition] %></td>
    <td><%= lent.lent_on %></td>
    <td><%= lent.willback_on %></td>
    <td><%= lent.back_on %></td>
    <% if session[:admin] %>
    <td><%= lent.sid %></td>
    <% end %>
    <td><%= lent.note %></td>
    <% if session[:admin] %>
      <td><%= lent.contact %></td>
      <td><%= link_to 'ret',"/lents/#{lent.id}/returned" %>
      <td><%= link_to image_tag('/images/edit.png'),
              edit_lent_path(lent) %></td>

      <!-- confirm できるまで保留
           <td><%= link_to 'del', "/lents/#{lent.id}/destroy",
                   method: :delete, data: {confirm: "really?"} %>
             -->
    <% end %>
  </tr>
<% end %>
</table>

<% if session[:admin] %>
<h4>管理人の方へ</h4>

<p>
  del でレコードを消すときは、
  いったん、ロボカーを返却の状態にしてから実行すること。
  じゃないとロボカーが行方不明になります。
</p>
<% end %>

<%= render 'navi' %>


