<h1>ロボカー貸し出し</h1>

<% if Rails.env == "development" %>
session[:admin] <%= session[:admin] %><br/>
request.env['HTTP_USER_AGENT']: <%= request.env['HTTP_USER_AGENT'] %>
@today: <%= @today %>
<% end %>

<% if flash[:notice] %>
<p id='notice'><%= flash[:notice]%></p>
<% end %>

<p>
  貸し出し回数を勤勉の証としてプラス評価することもある。
  <span class="red">返却の遅れ</span>はマイナス評価が当たり前。
  <img src="images/trash.png">でレコードを消すときは、いったん、ロボカーを返却の状態にしてから実行すること。
  じゃないとロボカーが行方不明になる。 
</p>

<%= render 'navi' %>

<table>
  <tr>
    <th>Car #</th>
    <th>状況</th>
    <th>貸出日</th>
    <th>返却予定</th>
    <th>返却日</th>
    <% if session[:admin] %>
    <th>学生番号</th>
    <% end %>
    <th>備考</th>
    <% if session[:admin] %>
    <th>連絡先</th>
    <th></th>
    <th>編</th>
    <th>削</th>
    <% end %>
  </tr>

<% @lents.each do |lent| %>
  <% next if lent.sid =~ /hkimura/ %>
  <% if delay?(lent) %>
  <tr class='delay'>
  <% else %>
  <tr>
  <% end %>
    <td><%= lent.car_id %></td>
    <td><%= Lent::Conditions[lent.condition] %></td>
    <td><%= lent.lent_on %></td>
    <td><%= lent.willback_on %></td>
    <td><%= lent.back_on %></td>
    <% if session[:admin] %>
    <td><%= lent.sid %></td>
    <% end %>
    <td><%= lent.note %></td>
    <% if session[:admin] %>
      <td><%= lent.contact %></td>
      <td><% if lent.back_on %>
          <%= link_to image_tag('/images/check.png'), "/lents/#{lent.id}/returned", method: :put %>
          <% else %>
          <%= link_to '返却', "/lents/#{lent.id}/returned", method: :put %>
          <% end %>
      </td>
<!--
    <td><%= link_to image_tag('/images/loope2.png'), lent %></td>
-->    
    <td><%= link_to image_tag('/images/edit.png'), edit_lent_path(lent) %></td>
    <!-- FIXME: routes -->
    <td><%= link_to image_tag('/images/trash.png'), lent, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= render 'navi' %>


