<h1>グループ課題のアップロード</h1>

<ol>
  <li>どんなファイルをアップロードすべきか、授業中に言います。</li>

  <li>授業の内容を反映していない、出すだけの回答は
    <span class='warn'>激しく減点</span>。 出さないほうがまし。
    インデントの崩れたプログラム、関数を使えていないプログラム、
    だらだらと main() に突っ込んだプログラムは担当教員の怒りを買うだろう。
    グループの力を結集し、読みやすいプログラムを上げてこい。</li>

  <li>グループ課題は授業中に提出するとA判定、その日のうちに提出はB判定、
    次週の授業時間前に提出はC判定。A判定とは最高でAという意味です。
    Aを約束するものではない。</li>
</ol>

<br>

<fieldset style='background:#d9edf7;'>
<legend>グループ番号は自動計算します。</legend>
<%= form_tag({:controler => :exercise, :action => :create},
    {multipart: true}) do %>
<%= file_field :g_ex, :name %>
<%= submit_tag "送信" %>
<% end %>
</fieldset>

<% if flash[:alert] %>
<p id="notice"><%= flash[:alert] %></p>
<% end %>

<br/>
<%= link_to 'List', exercises_path %>
